.task-counter {
  &.MuiGrid-root.MuiGrid-container {
    padding: 0;
    margin-bottom: 0;
  }

  .task-counter-wrapper {
    position: relative;

    .task-counter__values {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .task-counter__line-progress {
      height: 2rem;
    }
  }
}
