.game__levels-heading {
  .MuiTypography-h2 {
    font-size: 2rem;
  }
}

.task-randomization__grid {
  button {
    width: 100%;
  }
}

.task-counter {
  position: relative;
  .task-counter__values {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .task-counter__line-progress {
    height: 2rem;
  }
}
