@import '../../../../scss/Variables';

.game__levels-heading {
  .MuiTypography-h2 {
    font-size: 2rem;
  }
}

.levels-navigation {
  button {
    width: 100%;
  }
  background: $light-gray;
  .levels-stepper {
    background: transparent;
    .steps-wrapper {
      background: $gray;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 1;
    }
    .active-step {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    }
    .active-step,
    .completed-step {
      background: $primary-gradient-bg;
    }

    .MuiStepLabel-label {
      color: $gray;
    }

    .MuiStepLabel-completed,
    .MuiStepLabel-active {
      color: $primary;
    }

    .connector {
      height: 0.3rem;
      background-color: $gray;
      top: 1.4rem;
      &.MuiStepConnector-active,
      &.MuiStepConnector-completed {
        background: $primary-gradient-bg;
      }
      .MuiStepConnector-line {
        border: 0;
      }
    }
  }
}

.task-actions {
  button {
    width: 100%;
  }
  .line-progress__wrapper {
    position: relative;
  }
  .line-progress {
    height: 2rem;
  }
  .values {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .completed-header {
    &.MuiTypography-h3 {
      padding: 1rem 0;
      text-align: center;
      font-size: 2rem;
    }
  }
}

.task-randomization {
  button {
    width: 100%;
  }
}

.task-counter {
  &.MuiGrid-root.MuiGrid-container {
    padding: 0;
    margin-bottom: 0;
  }

  .task-counter-wrapper {
    position: relative;

    .task-counter__values {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .task-counter__line-progress {
      height: 2rem;
    }
  }
}

.task-content {
  .task-title {
    &.MuiTypography-root.MuiTypography-h2 {
      font-size: 2rem;
      padding: 0 0 2rem 0;
    }
  }
  .categories-badges {
    .MuiChip-root {
      margin: 0 0.5rem 0.5rem 0;
    }
  }
}
