@import '../../../scss/Variables';
@import '../../../scss/BreakPoints';

.profile {
  .profile__grid-container {
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
  }
  .profile__grid-item {
    flex-grow: 1;
  }
  .profile__card-info {
    overflow: visible;
    position: relative;
    margin-bottom: 1rem;

    .card-user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .card-actions {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        flex: 1;
      }

      .MuiButton-label {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .counter {
        font-size: 2rem;
      }

      .text {
        color: $light-gray;
        font-size: 0.6rem;
      }
    }
  }

  .profile__settings {
    .setting-switcher {
      background: $light;
      .setting-switcher__tab:not(.Mui-selected) {
        color: $primary400;
      }
    }
  }
}
