@import './Variables';

.primary-gradient-bg {
  background: $primary-gradient-bg;
}

.MuiButton-contained {
  &.delete-button {
    background-color: $error;
    color: $light-gray;

    &:hover {
      background-color: $error900;
    }
  }
}
