$main-bg-color: #ede7f6;
$deep-dark: #212121;
$primary: #673ab7;
$primary700: #512da8;
$primary400: #7e57c2;
$light: #ffffff;
$light-gray: rgba(255, 255, 255, 0.7);
$transparent-gray: rgba(255, 255, 255, 0.3);
$gray: #d1d1d1;
$error: #f44336;
$error900: #b71c1c;

$primary-gradient-bg: linear-gradient(90deg, $primary700 0%, $primary400 100%);
$main-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
