@import '../../../../scss/BreakPoints';
@import '../../../../scss/Variables';

.page-heading {
  .svg__wave1 {
    fill: $main-bg-color;
  }

  &.MuiContainer-root {
    display: flex;
  }

  height: 20rem;
  background: $deep-dark;
  background-image: url('../../../../media/svg/wave2.svg');
  background-size: 200%;
  background-position: bottom;
  background-repeat: no-repeat;

  @include sm {
    height: 25rem;
    background-position: 0 5rem;
    background-size: cover;
  }

  .page-heading__title {
    position: absolute;
    z-index: 2;
    width: 100%;
  }

  svg {
    width: 100%;
    align-self: flex-end;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }

  @keyframes animateWave {
    0% {
      transform: scale(1, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
