.auth-page {
  .auth-page__form-wrapper {
    .MuiFormControl-root {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      .avatar {
        margin: 1rem;
      }
    }
  }
}
